@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Neutral */
  --color-neutral-950: #000000;
  --color-neutral-300: #d8d8d8;
  --color-neutral-0: #ffffff;

  /* Aqua */
  --color-aqua-100: #b1d5e2;
  --color-aqua-50: #def4fc;

  /* Core palette */
  --color-navy-950: #070724;
  --color-teal-400: #1ec1a2;
  --color-purple-600: #6d2ed5;
  --color-bronze-700: #b87d43;
  --color-red-500: #d83a34;
  --color-orange-600: #ff6f3c;
  --color-amber-400: #eda249;
  --color-blue-600: #2d68f0;
  --color-sky-400: #419ebb;

  /* Typography */
  --font-family-primary: "Antonio", sans-serif;
  --font-family-secondary: "League Spartan", sans-serif;
}

body {
  background: url("./assets/background-stars.svg") no-repeat center center fixed;
  background-color: var(--color-navy-950);
  background-size: cover;
  color: var(--color-neutral-0);
  font-family: var(--font-family-primary);
  min-height: 100vh;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(216, 216, 216, 0.2);

  padding: 2.5rem 2rem;
}

.navbar-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.navbar-toggle img {
  display: block;
  width: 1.5rem;
  height: auto;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.navbar-link {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  line-height: 225%;
  letter-spacing: 0px;
  text-transform: uppercase;

  color: var(--color-neutral-300);
  text-decoration: none;
  font-weight: bold;
}

.navbar-link:hover {
  color: var(--color-neutral-0);
  transition: color 0.3s ease;
}

.navbar-logo {
  font-size: 1.75rem;
  line-height: 130%;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.planet {
  margin: 2rem;
}

.planet-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13.75rem;
}

.planet-name {
  font-size: 5rem;
  line-height: 130%;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 400;
}

.planet-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.planet-image__img {
  display: block;
}

.planet-surface {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 40%;
  width: auto;

  width: 10.188rem;
  height: auto;
}

.planet-details {
  width: min(90%, 21.875rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planet-description {
  font-size: 0.875rem;
  line-height: 180%;
  letter-spacing: 0px;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  color: var(--color-neutral-300);
  margin: 1rem 0;
}

.planet-info-source {
  font-size: 0.875rem;
  line-height: 180%;
  letter-spacing: 0px;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  color: var(--color-neutral-0);
  opacity: 0.5;
}

.planet-info-link {
  color: var(--color-neutral-0);
  font-weight: bold;
}

.planet-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;

  width: min(90%, 21.875rem);
}

.planet-option {
  background: none;
  border: 1px solid var(--color-neutral-300);
  color: var(--color-neutral-0);
  font-family: var(--font-family-secondary);
  font-size: 0.875rem;
  line-height: 180%;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;

  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.planet-option:hover {
  background-color: #d8d8d897;
  border-color: #d8d8d800;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.active {
  border: none;
}

.active:hover {
  border: none;
}

.planet-stats {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 5rem;
}

.planet-stat {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1.5rem;
  border: 1px solid var(--color-neutral-300);
  width: 15.938rem;
}

.planet-stat-title {
  font-size: 0.875rem;
  font-family: var(--font-family-secondary);
  font-weight: bold;
  color: var(--color-neutral-0);
  opacity: 0.5;
  line-height: 225%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.planet-stat-value {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-neutral-0);
  line-height: 130%;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

.mercury,
.venus,
.earth,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune {
  transition: all 0.3s ease;
}

.mercury:hover {
  border-bottom: 4px solid var(--color-aqua-100);
  padding-bottom: 0.25rem;
}

.venus:hover {
  border-bottom: 4px solid var(--color-amber-400);
  padding-bottom: 0.25rem;
}

.earth:hover {
  border-bottom: 4px solid var(--color-purple-600);
  padding-bottom: 0.25rem;
}

.mars:hover {
  border-bottom: 4px solid var(--color-red-500);
  padding-bottom: 0.25rem;
}

.jupiter:hover {
  border-bottom: 4px solid var(--color-orange-600);
  padding-bottom: 0.25rem;
}

.saturn:hover {
  border-bottom: 4px solid var(--color-bronze-700);
  padding-bottom: 0.25rem;
}

.uranus:hover {
  border-bottom: 4px solid var(--color-teal-400);
  padding-bottom: 0.25rem;
}

.neptune:hover {
  border-bottom: 4px solid var(--color-blue-600);
  padding-bottom: 0.25rem;
}

.planet-options .active-mercury,
.planet-options .active-mercury:hover {
  background-color: var(--color-aqua-100);
}

.planet-options .active-venus,
.planet-options .active-venus:hover {
  background-color: var(--color-amber-400);
}

.planet-options .active-earth,
.planet-options .active-earth:hover {
  background-color: var(--color-purple-600);
}

.planet-options .active-mars,
.planet-options .active-mars:hover {
  background-color: var(--color-red-500);
}

.planet-options .active-jupiter,
.planet-options .active-jupiter:hover {
  background-color: var(--color-orange-600);
}

.planet-options .active-saturn,
.planet-options .active-saturn:hover {
  background-color: var(--color-bronze-700);
}

.planet-options .active-uranus,
.planet-options .active-uranus:hover {
  background-color: var(--color-teal-400);
}

.planet-options .active-neptune,
.planet-options .active-neptune:hover {
  background-color: var(--color-blue-600);
}
